<h1>Events list</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.title, event %>
    </li>
  <% end %>
</ul>



<% if user_signed_in? %>
  <div><%= link_to 'New event', new_event_path %></div> <br>
  <div><%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %></div>
<% else %>
  <div><%= link_to 'Sign up', new_user_registration_path %></div> <br>
  <div><%= link_to 'Sign in', new_user_session_path %></div>
<% end %>

