<div class="event-form">
    <% if @event.errors.any? %>
      <div class="errors-display">
        <ul>
          <% @event.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form">
    <h1>Create new event</h1>
    
    <%= form_for @event do |f| %>
      <div class="input" >
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    
      <div class="input" >
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
    
      <div class="input" >
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>
    
      <%= f.submit %>
    <% end %>
  </div>
</div>