<h2><%= @event.title %></h2>

<p>Creator: <%= @event.creator.email %></p>
<p><%= @event.date %></p>
<p><%= @event.description %></p>

<div>
  <%= enroll_button %>
</div>

<h3>Attendees</h3>
<ul>
  <% @attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>


<div>
  <%= link_to 'Event list', events_path %>
</div>
