<div class="event-display">
  <p class= "event-date"><%= @event.date.strftime("%A %d %B %Y")  %></p>
  <h1><%= @event.title %></h1>
  
  <p><%= @event.description %></p>
  
  <div class="button">
    <%= enroll_button %>
  </div>
  
  <h3>Attendees : </h3>
  <ul>
    <% @attendees.each do |attendee| %>
      <li><%= attendee.email %></li>
    <% end %>
  </ul>
</div>